---

const { 
    class: className = "",
    id: idName = ""
 } = Astro.props;

---

<div 
    id={idName || undefined} 
    class={`px-6 max-w-screen-3xl mx-auto ${className}`}>
    <slot/>
</div>

<!-- bg-violet-300/90 sm:bg-red-200/90 md:bg-green-200/90 lg:bg-blue-200/90 xl:bg-pink-200/90 2xl:bg-yellow-200/90 3xl:bg-sky-200/90 -->