---

const { 
    class: className = "",
    id: idName = ""
 } = Astro.props;

---

<section 
    id={idName || undefined} 
    class={`pt-10 pb-10 lg:pt-28 md:pb-12 2xl:pt-36 ${className}`}>

        <slot/>

</section>