---
import Container from "@scaffolding/Container.astro";
import Section from "./scaffolding/Section.astro";
---
<!-- <footer>
    <Container>
        <Section>
            footer
        </Section>
    </Container>
</footer> -->