---
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";
import Line from "@ui/Line.astro";

---
<Section 
    id="hero" 
    class="bg-hero w-full md:min-h-svh xl:min-h-full h-full bg-no-repeat bg-center bg-cover overflow-hidden pt-0 pb-0">
    <Container 
        class=" relative h-full pb-14 sm:h-screen xl:h-full">
        <div class=" relative z-10 mx-auto pt-28 w-full lg:flex justify-around gap-12 md:pt-10">
            <h1 class="text-[2.4rem] leading-tight mb-20 text-[var(--brand-gray-50)] font-medium sm:text-6xl lg:text-[5rem] text-center lg:text-left 3xl:text-[6.5rem]">
                Tu Idea, <br> 
                <span class=" sm:pl-14 whitespace-nowrap"> nuestro arte...</span>
            </h1>
            <div class=" relative -mt-12 lg:mt-10 lg:max-w-sm flex 2xl:w-full  2xl:max-w-2xl">
                <Line variant="vertical"/>
                <div class="sm:pt-6 sm:pb-6">
                    <p class="text-white uppercase text-base font-semibold text-center tracking-wider w-full px-6 py-4 bg-black/90 border-b-2 border-white sm:text-xl 3xl:text-2xl 3xl:leading-normal">
                        Especialistas en remodelación y Trabajos en madera en Miami
                    </p>
                    <p class=" bg-black/70 text-xl lg:text-xl text-white px-6 py-10 inline-block ml-auto text-center sm:text-2xl 3xl:text-2xl">
                        Transformamos tus espacios con soluciones a medida utilizando materiales de alta calidad.
                    </p>
                </div>
                <Line variant="vertical"/>
            </div>    
        </div>   

        <div class="z-10 relative mt-8">
            <Line variant="horizontal" />
            <p class="p-6 text-xl text-center bg-black/40 text-white sm:text-2xl lg:text-xl 2xl:text-2xl">
                Somos especialistas en: <span 
                id="dynamic-word"
                class="ftn-words min-w-[240px] font-bold text-white inline-block sm:text-2xl 2xl:text-2xl">
                    Sink de Cocina
                </span>
            </p>
            <Line variant="horizontal" />
        </div>
            
    </Container>
</Section>

<style>

    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0;
            transform: translateY(10px);
        }
        30%, 60% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .ftn-words{
        animation: fadeInOut 5s infinite
    }

</style>

<script>
  const words = ["Sink de Cocina", "Muebles de Baño", "Fregaderos de Cocina", "Top de Granito", "Mármol & Cuarzo"];
  let index = 0;

  const changeWord = () => {
    const dynamicWord = document.getElementById("dynamic-word");
    if (dynamicWord) {
        dynamicWord.classList.remove("fade");
      void dynamicWord.offsetWidth; 
      index = (index + 1) % words.length;
      dynamicWord.textContent = words[index];
      dynamicWord.classList.add("fade");
    }
  };

  setInterval(changeWord, 5000); 
</script>