---
import Container from "@scaffolding/Container.astro";
import Section from "@scaffolding/Section.astro";
import Portfolio from "@ui/Portfolio.astro";
import Title from "@ui/Title.astro";
import IconArrow from "./icon/IconArrow.astro";
import Button from "./ui/Button.astro";
 
const images = [
  {
    src: "estanterias-flotantes.webp", 
    alt: "Estanterías flotantes de madera a medida para living.", 
    title: "Living"
  },
  
  { 
    src: "/tops-madera.webp", 
    alt: "Armarios de madera hechos a medida para salón de peluquería.", 
    title: "Tops"
  },
  
  {
    src: "/techo-madera-decorativo-interior.webp", 
    alt: "Techo decorativo de madera natural con acabado artesanal para interiores elegantes.", 
    title: "Techo"
  },
  
  { 
    src: "/bookshelf.webp", 
    alt: "Estantería de madera a medida ideal para oficinas o salas con estilo sofisticado.", 
    title: "Bookshelf's"
  },

  { 
    src: "/waking-closet-madera-personalizado.webp", 
    alt: "Walking closet personalizado en madera con amplio almacenamiento y diseño funcional.", 
    title: "Walking Closets"
  },

  { 
    src: "/top-cocina-cuarzo.webp", 
    alt: "Cubierta de cocina en cuarzo blanco con gabinetes de madera hechos a medida.", 
    title: "Top Cocina"
  },

  { 
    src: "/storage-room.webp", 
    alt: "Storage room con muebles de madera y detalles de metal para mayor durabilidad.", 
    title: "Storage Room (con materiales mixtos)"
  },

  { 
    src: "/top-personalizado.webp", 
    alt: "Top de madera con cajones y detalles de metal personalizado de alta calidad.", 
    title: "Top"
  },
  
]
---

<Section
  id="projects">
    <Container>
      <Title
        title="Nuestros proyectos, tu inspiración"
        subtitle="Explora las creaciones que hemos realizado para nuestros clientes."
      />
        <Portfolio images={images}/>

        <div class="text-center mt-10">
          <Button 
            href="#contact" 
            type="solid"
            class="group">
            Contáctanos hoy
            <IconArrow class="w-0 h-5 ml-1 group-hover:w-5 transition-all ease-linear duration-200"/>
          </Button>
        </div>
        
      </Container>
    </Section>