---
import Icon from "@ui/Icon.astro";
import Line from "./Line.astro";

const {
    title,
    icon,
    description
} = Astro.props;
---

<div class="sm:flex items-start gap-4 w-full">
    {icon && (
        <Icon name={icon} className="w-40 h-14 mb-4"/>
    )}
    <div class="w-full">
        <h2 class="text-xl font-medium pb-1 border-b-2 border-[var(--brand-gray-950)]">
            {title}
        </h2>
        <p class="text-sm p-4 bg-[var(--brand-gray-50)]">
            {description}
        </p>
    </div>
</div>