---
import clsx from 'clsx'
import Button from './Button.astro';
import IconArrow from '@components/icon/IconArrow.astro';
const {
    number,
    service,
    bgService = "bg-kitchen"
} = Astro.props;
--- 

<li class={clsx(`${bgService}`, 'relative', 'bg-cover', 'bg-center', 'min-h-80', 'p-6', 'group', 'transition-all', 'ease-in-out')}>
    <div class="relative h-full p-2">
        <span class="w-full h-full absolute top-0 left-0 transition-all duration-500 ggroup-hover:bg-black/60"></span>
        <p class=" text-white font-semibold opacity-0 -translate-y-4 transition-all duration-500 ease-in-out group-hover:opacity-100 group-hover:translate-y-0 ">
            {number}
        </p>
        <Button
                href="#contact"
                type="inverted"
                class="group opacity-0 group-hover:opacity-100 delay-200 absolute top-0 right-0">
                Has tu consulta
                <IconArrow class="w-0 h-5 ml-1 group-hover:w-5 transition-all ease-linear duration-200"/>
            </Button>
        <div class=" absolute bottom-0 left-0 h-6 z-10 transition-all duration-500 ">
            <h3 class=" font-bold text-lg text-white flex items-center transition-all ease-in-out duration-500 group-hover:text-white ">
                <span class="w-0 h-0.5 mr-2 bg-[var(--brand-gray-100)] transition-all ease-in-out duration-500 group-hover:w-4"></span>
                <span>{service}</span>
            </h3>
        </div>
    </div>   
    <div class="bg-gradient-to-t z-0 from-black/80 w-full h-20 absolute bottom-0 left-0 "></div>
</li>