---
const {
    class: className = "",
    title,
    subtitle
} = Astro.props;
---

<h2 
    class={`font-bold text-center text-4xl mb-6 text-[var(--brand-gray-900)] ${className}`}>
    {title}
</h2>
<p class="text-center mb-10">
    {subtitle}
</p>