---
const {
    class: className = "",
    title,
    subtitle
} = Astro.props;
---

<h2 
    class={`font-bold text-center text-4xl mb-6 text-[var(--brand-gray-900)] 2xl:text-5xl 3xl:text-6xl ${className}`}>
    {title}
</h2>
<p class="text-center text-lg mb-10 sm:text-xl 2xl:text-2xl">
    {subtitle}
</p>